<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%5relative %-5level [%thread]  %msg%n</pattern>
    </layout>
  </appender>

  <!-- File appender without date/time for non-regression comparisons
  <appender name="ONCE" class="ch.qos.logback.core.FileAppender">
    <file>once.log</file>
    <append>false</append>
    <layout>
      <pattern>%-5level %msg%n</pattern>
    </layout>
  </appender>
  -->
  
  <logger name="org.logic2j.theory.RDBClauseProvider"><level value="debug"/></logger>
  <logger name="org.logic2j.util.SqlBuilder3"><level value="info"/></logger>
  <logger name="org.logic2j.solve.DefaultGoalSolver"><level value="info"/></logger>


  <root level="info">
    <appender-ref ref="CONSOLE"/>
    <!-- 
    <appender-ref ref="ONCE"/>
     -->
  </root>

</configuration>
