<configuration>
  <property name="log.home" value="logs"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%5relative %-5level [%thread]  %msg%n</pattern>
    </layout>
  </appender>

  <!-- 
  <appender name="ONCE" class="ch.qos.logback.core.FileAppender">
    <file>once.log</file>
    <append>false</append>
    <layout>
      <pattern>%-5level %msg%n</pattern>
    </layout>
  </appender>
  -->

  <!-- ROOT LEVEL DEFINITION -->
  <root level="info">
    <appender-ref ref="CONSOLE"/>
    <!-- 
    <appender-ref ref="ONCE"/>
     -->
  </root>

</configuration>
